$primary-color: #430099;
$options-color: #373b47;
$options-background: #f5f6fa;
$neutral-white: #ffffff;
$neutral-black: #1f1f23;
$active-color: #003eff;
$personal-color: #4c49ed;
$shopping-color: #9d9bf4;
$phone-color: #4fd18b;
$other-color: #141197;

.expense-chart {
  color: $neutral-white;
  text-align: center;
  padding: 20px;

  .header {
    h1 {
      margin: 0;
    }
  }

  .card {
    background-color: $neutral-white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-top: 0;
      color: $neutral-black;
      font-family: Helvetica Neue;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .options {
      width: fit-content;
      display: flex;
      padding: 12px 32px;
      align-items: center;
      justify-content: center;
      gap: 12px;
      border-radius: 30px;
      background: $options-background;

      color: $options-color;
      font-family: Helvetica Neue;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.84px;
      text-transform: uppercase;

      span {
        cursor: pointer;
        margin-right: 10px;
        padding: 8px 10px;

        &.active {
          color: $active-color;
          background: $neutral-white;
          border-radius: 30px;
        }
      }
    }

    .pie-chart {
      position: relative;
      margin: 20px 0;
      width: 264px;

      .chart-svg {
        transform: rotate(240deg);
      }

      .total-expense {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight: 700;
        color: $neutral-black;
        z-index: 2;
      }
    }

    .legend {
      display: flex;
      justify-content: space-around;
      gap: 22px;

      .legend-item {
        display: flex;
        align-items: center;

        .color {
          width: 37px;
          height: 13px;
          margin-right: 10px;
          border-radius: 33px;
        }
        .label {
          color: $neutral-black;
        }
      }
    }
  }
}
