$primary-color: #430099;
$neutral-white: #ffffff;

.app {
  height: 100vh;
  background-color: $primary-color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  h1 {
    color: $neutral-white;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
}
